* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

/* Stile Generale */

nav {
    display: flex;
}

nav ul {
    padding: 1rem 2rem;
    color: white;
    display: flex;
}

nav ul li {
    padding: 0 2rem;
}

h1,
h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

h1 {
    padding-top: 7rem;
}

h1,
h1+p {
    text-align: center;
    width: 50%;
    color: white;
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 20rem;
}

main section {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    align-items: flex-start;
}

section section {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

main section:last-of-type {
    flex-direction: column;
    align-items: center;
}

main div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

main div img:first-child {
    width: 75%;
    position: relative;
    top: 30px;
}

main p {
    font-size: 1.2rem;
    line-height: 1.5;
}

div>h2 {
    font-size: 2.5rem;
    text-align: center;
}

footer {
    background-color: #23272a;
    font-size: 1rem;
}

footer>div {
    margin: 0 19rem;
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
}

div section:first-child {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: baseline;
}

h3 {
    color: #7289da;
}

li {
    list-style-type: none;
    list-style-position: inside;
    padding: .5rem 0;
    color: white;
}

img+p {
    color: white;
    margin-left: 1rem;
}

h3+div {
    display: flex;
    height: 1rem;
}

hr {
    margin: 3rem 19rem 2rem;
    height: 1px;
    background: #7289da;
    border: 0;
}

/* Classi */

.nav-header {
    display: flex;
    height: 80px;
    background-color: #255ee9;
    padding: 1rem 5rem;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.logo {
    height: 2rem;
}

.button-header {
    margin-bottom: 10rem;
}

.container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}


.lang {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.social {
    display: flex;
    height: 1.2rem;
    width: 60%;
    justify-content: space-between;
    margin-top: 1.2rem;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 19rem;
    padding-bottom: 2rem;
}

.text-align-center {
    text-align: center;
}


/* Stile bottoni */

button {
    padding: .5rem 1rem;
    border-radius: 1.7rem;
    border: none;
}

.big {
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.white {
    background-color: white;
}

.black {
    background-color: #23272a;
    color: white;
}

.blue {
    background-color: #7289da;
    color: white;
}